@font-face {
  font-family: "Morton";
  src: url("../font/Morton-ExtraBold.otf") format("opentype");
}

#canvas {
  width: 70%;
  padding: 100px 30px;
  height: 0;
  padding-top: 66.64%; /* (img-height / img-width * container-width) */
  /* (853 / 1280 * 100) */
}
#imageLogo {
  width: 382px;
  height: 100px;
  padding-top: 30px;
  transform: scale(0.5);
}
#InnerText {
  font-family: "Morton";
  font-weight: bold;
  font-size: 60px;
}
